@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Lora", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fcc;
  color: #e69900;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

header {
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

.marketplace-img {
  margin: 0;
  float: left;
  width: 30%;
}

.nav-btn {
  float: right;
  margin: 0;
  width: 10%;
}

.nav {
  display: none;
  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 3em;
  width: 100%;
  background-color: #699;
  overflow: hidden;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}

nav li a {
  color: #000;
  text-decoration: none;
  margin: 2em;
  padding: 1em;
  display: block;
  margin: 0;
}

nav li a:hover {
  background-color: #fff;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 1.3em 0;
}

.banner {
  width: 100%;
  position: relative;
}

.banner-body {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  max-width: 20em;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  color: #fff;
}

.banner-btn {
  border-radius: 8px;
  text-decoration: none;
  padding: 0.4em 0.75em 0.3em;
  display: inline-block;
  margin: 0.5em 2em;
  font-size: 0.875rem;
  border: solid 3px;
  background-color: #ccc;
  color: #fff;
}

.banner-btn:hover {
  background-color: #e69900;
}

.banner-img-wide {
  display: none;
}

.card {
  position: relative;
}

.card-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section {
  position: relative;
  overflow: hidden;
  clear: both;
}

.wide-section {
  display: none;
}

.section-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  padding: 0 1em;
}

.footer {
  background-color: #699;
  overflow: hidden;
}

.nav-footer-list {
  text-align: left;
}

.nav-footer {
  float: left;
  width: 60%;
}

.icons {
  float: right;
  width: 40%;
}

.logo {
  margin: 0;
}

.social-media {
  margin: 0;
}

small {
  float: left;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .card {
    display: inline-block;
    width: 50%;
    float: left;
  }

  .section-h2 {
    float: left;
    width: 25%;
  }

  .section-p {
    float: right;
    width: 75%;
    max-width: 95%;
  }

  .wide-section {
    display: block;
  }

  .narrow-section {
    display: none;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .banner-img {
    display: none;
  }

  .banner-img-wide {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .card {
    display: inline-block;
    width: 25%;
    float: left;
  }

  .nav-btn {
    display: none;
  }

  .nav {
    display: inline-block;
    padding: 0;
    position: static;
    float: right;
    width: 70%;
  }

  .nav li a {
    padding: 1.78em 1em;
  }

  .nav li {
    display: inline-block;
  }


}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .nav li a {
    padding: 2.7em 1em;
  }

}
