@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ccffcc;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

header {
  position: relative;
}

.img-flex {
  width: 100%;
}

.marketplace-img {
  margin: 0;
  float: left;
  width: 30%;
}

.nav-btn {
  float: right;
  margin: 0;
  width: 10%;
}

.nav {
  display: none;
  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 3em;
  width: 100%;
  background-color: #fcc;
  overflow: hidden;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}

li a {
  color: #000;
  text-decoration: none;
  margin: 2em;
  padding: 1em;
  display: block;
  margin: 0;
}

li a:hover {
  background-color: #ff99cc;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 1.3em 0;
}

.banner {
  width: 100%;
  position: relative;
}

.banner-body {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  max-width: 20em;
  width: 100%;
  transform: translate(-50%,-50%);
}

.card {
  position: relative;
}

.card-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.section {
  position: relative;
}

.section-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.footer {
  background-color: #699;
}

.nav-footer {
  text-align: left;
}
